@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
}
@plugin "gridAreas";

@theme {
    --color-bg: #FFFFFE;
    --color-bg-alter: #D8EEFE;
    --color-primary: #094067;
    --color-paragraph: #5F6C7B;
    --color-accent: #3DA9FC;
    --color-secondary: #90B4CE;
    --color-tertiary: #EF4565;

    --font-default: 'Poppins';

    --text-title: 24px;
    --text-title-sm: 32px;
    --text-title-md: 40px;
    --text-title-lg: 40px; 

    --drop-shadow-1xl: '10px 10px 10px 10px #000000';
}

@layer components {
    .nav-link {
        @apply text-bg font-medium text-[16px] outline-none
        hover:text-primary transition-all duration-[.3s] ease-in
    }

    .mobile-menu {
        @apply fixed z-40 top-[81px] right-0 translate-x-[100%] bg-accent w-[65vw] max-w-[400px] h-screen flex flex-col
        place-items-center text-[18px] text-bg
        transition-transform duration-[.8s] ease-in-out
    }

    .operativo-card {
        @apply flex flex-col place-items-center text-primary text-center font-medium w-[250px]
        text-[14px] lg:text-[16px]
    }
}